/js/js/node_modules
/js/js/package-lock.json

/npm/node_modules
/npm/package-lock.json

/reacttailwind/tailwindlearn/package-lock.json
/Todoproject/todoapp/package-lock.json
/weather/weatherApp/package-lock.json

/frontendtailwindcss/package-lock.json
/frontendtailwindcss/node_modules