/js/js/node_modules
/js/js/package-lock.json

/npm/node_modules
/npm/package-lock.json

/reacttailwind/tailwindlearn/package-lock.json
/Todoproject/todoapp/package-lock.json
/weather/weatherApp/package-lock.json

/frontendtailwindcss/package-lock.json
/frontendtailwindcss/node_modules


/shoppingcart/addtocart/package-lock.json
/shoppingcart/addtocart/node_modules

/redux/reduxtoolkit/package-lock.json
/redux/reduxtoolkit/node_modules

/expressjs/package-lock.json
/expressjs/node_modules

/frontendbackend/frontend/package-lock.json
/frontendbackend/frontend/node_modules

/frontendbackend/expressbackend/package-lock.json
/frontendbackend/expressbackend/node_modules

/nodejs/package-lock.json
/nodejs/node_modules

/Project_class/backend/package-lock.json
/Project_class/backend/node_modules

/Project_class/frontend_shopping/package-lock.json
/Project_class/frontend_shopping/node_modules